<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User role:</strong>
  <%= @user.user_role %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
