<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
document.addEventListener("DOMContentLoaded", function() {
    initMap2();

});
</script>
<% end %>
<%= form_with(model: location, local: true) do |form| %>
<div class="fox">
    <br><br><br><br><br>
    <h1>Workplaces</h1>
    <%= form.label :'Place Description'  %> <br>
    <%= form.text_field :desc %> <br>
    <%= form.label :'Address'  %> <br>
    <%= form.text_field :address, {id: 'address'} %> <br>
    <%= form.label :Meters %> <br>
    <%= form.number_field :meters %> <br>
    <%= form.label :latitude %> <br>
    <%= form.text_field :latitude, {id: 'latitude' }%> <br>
    <%= form.label :longitude %> <br>
    <%= form.text_field :longitude, {id: 'longitude' }%> <br>
    <%= form.label :'Your ID'%> <br>
    <%= form.text_field :user_id, :value => current_user.id, :readonly => true %><br>
    <div class="map" id="map2"></div>
    <%= form.submit %>
</div>
<% end %>